# Backend
backend/venv/
backend/.env
backend/lexiguide.db
backend/uploads/*.txt
backend/__pycache__/
backend/**/__pycache__/
*.pyc

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
